.cc {
    &-header {
        color: #000;
        font-weight: 600;
    }
    &-wrapper {
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        width: 70vw;
        max-width: 1150px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 1rem;
    }
    &-grid {
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
    }
}

.c-cC{

    &__container{  display: flex; flex-direction: column; flex: 1 1 auto; min-height: 100vh; }

    &__wrap{ display: flex; flex-direction: column; flex: 1 1 auto; align-items: center; justify-content: center; gap: 2rem;}
    &__input{
        display: flex; flex-direction: column; gap: 2rem;

        &-top{ display: flex; justify-content: center; gap: 1rem; }
        &-bottom{ display: flex; justify-content: flex-end; gap: 1rem;}

        &-wrap{
            display: flex; gap: 0;
            --border-color: #000;

            > input.c-cC__input-field[type=number]{
                width: 200px; border: none; padding-left: 1rem;

                &::-webkit-outer-spin-button, 
                &::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

                + .c-dropmenu{
                    > input{ border-left: 1px solid var(--border-color); }
                }
            }

            .c-dropmenu{
                height: 100%; width: 62px; 

              > input{ text-transform: uppercase; height: 100%; width: 62px; }

              &__body{
                padding-top: 2.25rem; position: relative;

                input.-search{
                    position: absolute; height: 2.25rem; width: 100%; top: 0; left: 0;
                }
              }
            }

            border: 1px solid var(--border-color);

            &:focus-within, &:focus-visible, &:focus, &:hover{
                --border-color: #a100ff;
            }
        }
    }
}