@keyframes animateIn {
    0% {
        // height: 44px;
        // width: 44px;
        // scale: 0.98;
        // border-radius: 50%;
        // left: 2rem;
        // bottom: 2rem;
    }

    95% {
        scale: 75;
    }

    100% {
        border-radius: 0;
        scale: 1;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}

@keyframes animateOut {
    0% {
        // border-radius: 0;
        // scale: 1;
        // height: 100%;
        // width: 100%;
        // left: 0;
        // bottom: 0;
    }

   95% {
        left: 0;
        bottom: 0;
    }

    100% {
        height: 44px;
        width: 44px;
        scale: 0.98;
        border-radius: 50%;
        left: 2rem;
        bottom: 2rem;
    }
}

.cc-themetoggle {
    &__underlay {
        background: transparent;
        position: fixed;
        pointer-events: none;
        z-index: -10;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
    &__overlay {
        position: fixed;
        background-color: #fff;
        pointer-events: none;
        mix-blend-mode: difference;
        inset: auto auto 2rem 2rem;
        height: 44px;
        width: 44px;
        transition: all 0.5s ease-in;
        border-radius: 50%;
        scale: 0.5;

        &.-open {
            animation: animateIn 0.75s ease-in forwards;
            + .cc-themetoggle__button {
                background-color: #b3b3b3;
            }
        }

        &.-collapse {
            border-radius: 0;
            scale: 1;
            height: 100%;
            width: 100%;
            left: 0;
            bottom: 0;
            animation: animateOut 0.75s ease-in-out forwards;
        }
    }
    &__button {
        position: fixed;
        inset: auto auto 2rem 2rem;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: #000;
        cursor: pointer;
        z-index: 999999;
        border: 0;
        transition: background-color 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}